apiVersion: apps/v1
kind: Deployment
metadata:
  name: pet-store
spec:
  replicas: 1
  revisionHistoryLimit: 6
  selector:
    matchLabels:
      app: pet-store
  template:
    metadata:
      labels:
        app: pet-store
    spec:
      containers:
        - image: docker.io/pashacodefresh/pet-store:beb76221b5ae157f9dc46bdef216011c257f43bd
          name: pet-store
          ports:
            - containerPort: 3001
